header, footer {
    width: 100%;
    height: 100%;
}
.full-width-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.m-bot20 {
    margin-bottom: 20px;
}
.btn {
    float: left;
    margin-right: 10px;
}
.btn-group-right {
    float: right;
}
.select-container {
    float:right;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    min-height: 100px;
    background: #333;
    color: #FFFFFF;
}
.article-header {
    font-size: 1.286em;
    font-weight: bold;
}